<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qf_scard_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,326},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,326},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,407},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,326},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,407},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,326},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,245},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,245},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,245},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,245},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,407},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,326},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,245},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,164},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,164},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,164},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,164},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,164},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,407},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,326},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,245},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,164},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,83},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,83},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,83},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,83},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,83},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,83},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,407},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,326},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,245},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,164},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,83},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,407},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,326},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,245},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,164},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,83},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qf_scard_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qf_scards.png</string>
            <key>size</key>
            <string>{542,542}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc0f8bf4a33385ea505aaa928cafe3d2$</string>
            <key>textureFileName</key>
            <string>qf_scards.png</string>
        </dict>
    </dict>
</plist>
