<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>big_cards_fk_10b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,250},{177,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,246}}</string>
                <key>sourceSize</key>
                <string>{177,246}</string>
            </dict>
            <key>big_cards_fk_1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1613,498},{177,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,246}}</string>
                <key>sourceSize</key>
                <string>{177,246}</string>
            </dict>
            <key>big_cards_fk_2b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,746},{177,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,246}}</string>
                <key>sourceSize</key>
                <string>{177,246}</string>
            </dict>
            <key>big_cards_fk_3b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,2},{177,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,246}}</string>
                <key>sourceSize</key>
                <string>{177,246}</string>
            </dict>
            <key>big_cards_fk_4b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1613,250},{177,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,246}}</string>
                <key>sourceSize</key>
                <string>{177,246}</string>
            </dict>
            <key>big_cards_fk_5b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,498},{177,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,246}}</string>
                <key>sourceSize</key>
                <string>{177,246}</string>
            </dict>
            <key>big_cards_fk_6b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,746},{177,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,246}}</string>
                <key>sourceSize</key>
                <string>{177,246}</string>
            </dict>
            <key>big_cards_fk_7b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1613,2},{177,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,246}}</string>
                <key>sourceSize</key>
                <string>{177,246}</string>
            </dict>
            <key>big_cards_fk_8b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,250},{177,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,246}}</string>
                <key>sourceSize</key>
                <string>{177,246}</string>
            </dict>
            <key>big_cards_fk_9b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,498},{177,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,246}}</string>
                <key>sourceSize</key>
                <string>{177,246}</string>
            </dict>
            <key>big_cards_ht_10s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,746},{177,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,246}}</string>
                <key>sourceSize</key>
                <string>{177,246}</string>
            </dict>
            <key>big_cards_ht_1s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,2},{177,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,246}}</string>
                <key>sourceSize</key>
                <string>{177,246}</string>
            </dict>
            <key>big_cards_ht_2s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,250},{177,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,246}}</string>
                <key>sourceSize</key>
                <string>{177,246}</string>
            </dict>
            <key>big_cards_ht_3s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,498},{177,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,246}}</string>
                <key>sourceSize</key>
                <string>{177,246}</string>
            </dict>
            <key>big_cards_ht_4s.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,746},{177,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,246}}</string>
                <key>sourceSize</key>
                <string>{177,246}</string>
            </dict>
            <key>big_cards_ht_5s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,2},{177,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,246}}</string>
                <key>sourceSize</key>
                <string>{177,246}</string>
            </dict>
            <key>big_cards_ht_6s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,250},{177,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,246}}</string>
                <key>sourceSize</key>
                <string>{177,246}</string>
            </dict>
            <key>big_cards_ht_7s.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,498},{177,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,246}}</string>
                <key>sourceSize</key>
                <string>{177,246}</string>
            </dict>
            <key>big_cards_ht_8s.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,746},{177,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,246}}</string>
                <key>sourceSize</key>
                <string>{177,246}</string>
            </dict>
            <key>big_cards_ht_9s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,2},{177,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,246}}</string>
                <key>sourceSize</key>
                <string>{177,246}</string>
            </dict>
            <key>big_cards_hx_10b.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,250},{177,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,246}}</string>
                <key>sourceSize</key>
                <string>{177,246}</string>
            </dict>
            <key>big_cards_hx_1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,498},{177,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,246}}</string>
                <key>sourceSize</key>
                <string>{177,246}</string>
            </dict>
            <key>big_cards_hx_2b.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,746},{177,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,246}}</string>
                <key>sourceSize</key>
                <string>{177,246}</string>
            </dict>
            <key>big_cards_hx_3b.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,2},{177,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,246}}</string>
                <key>sourceSize</key>
                <string>{177,246}</string>
            </dict>
            <key>big_cards_hx_4b.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,250},{177,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,246}}</string>
                <key>sourceSize</key>
                <string>{177,246}</string>
            </dict>
            <key>big_cards_hx_5b.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,498},{177,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,246}}</string>
                <key>sourceSize</key>
                <string>{177,246}</string>
            </dict>
            <key>big_cards_hx_6b.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,746},{177,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,246}}</string>
                <key>sourceSize</key>
                <string>{177,246}</string>
            </dict>
            <key>big_cards_hx_7b.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{177,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,246}}</string>
                <key>sourceSize</key>
                <string>{177,246}</string>
            </dict>
            <key>big_cards_hx_8b.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,250},{177,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,246}}</string>
                <key>sourceSize</key>
                <string>{177,246}</string>
            </dict>
            <key>big_cards_hx_9b.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,498},{177,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,246}}</string>
                <key>sourceSize</key>
                <string>{177,246}</string>
            </dict>
            <key>big_cards_mh_10s.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,746},{177,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,246}}</string>
                <key>sourceSize</key>
                <string>{177,246}</string>
            </dict>
            <key>big_cards_mh_1s.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,2},{177,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,246}}</string>
                <key>sourceSize</key>
                <string>{177,246}</string>
            </dict>
            <key>big_cards_mh_2s.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,250},{177,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,246}}</string>
                <key>sourceSize</key>
                <string>{177,246}</string>
            </dict>
            <key>big_cards_mh_3s.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,498},{177,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,246}}</string>
                <key>sourceSize</key>
                <string>{177,246}</string>
            </dict>
            <key>big_cards_mh_4s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{177,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,246}}</string>
                <key>sourceSize</key>
                <string>{177,246}</string>
            </dict>
            <key>big_cards_mh_5s.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{177,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,246}}</string>
                <key>sourceSize</key>
                <string>{177,246}</string>
            </dict>
            <key>big_cards_mh_6s.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,250},{177,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,246}}</string>
                <key>sourceSize</key>
                <string>{177,246}</string>
            </dict>
            <key>big_cards_mh_7s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{177,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,246}}</string>
                <key>sourceSize</key>
                <string>{177,246}</string>
            </dict>
            <key>big_cards_mh_8s.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{177,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,246}}</string>
                <key>sourceSize</key>
                <string>{177,246}</string>
            </dict>
            <key>big_cards_mh_9s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{177,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,246}}</string>
                <key>sourceSize</key>
                <string>{177,246}</string>
            </dict>
            <key>small_cards_fk_10b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,921},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>small_cards_fk_1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,921},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>small_cards_fk_2b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,921},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>small_cards_fk_3b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1903,848},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>small_cards_fk_4b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1903,775},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>small_cards_fk_5b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1845,848},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>small_cards_fk_6b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1845,775},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>small_cards_fk_7b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1787,848},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>small_cards_fk_8b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1787,775},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>small_cards_fk_9b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1865,717},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>small_cards_ht_10s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,717},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>small_cards_ht_1s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1966,659},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>small_cards_ht_2s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1966,586},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>small_cards_ht_3s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1966,513},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>small_cards_ht_4s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,644},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>small_cards_ht_5s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1759,965},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>small_cards_ht_6s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1729,892},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>small_cards_ht_7s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1729,819},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>small_cards_ht_8s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,571},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>small_cards_ht_9s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,644},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>small_cards_hx_10b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,965},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>small_cards_hx_1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1671,892},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>small_cards_hx_2b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1671,819},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>small_cards_hx_3b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,498},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>small_cards_hx_4b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,571},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>small_cards_hx_5b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,644},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>small_cards_hx_6b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1729,746},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>small_cards_hx_7b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1613,965},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>small_cards_hx_8b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1613,892},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>small_cards_hx_9b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,498},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>small_cards_mh_10s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,571},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>small_cards_mh_1s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1671,746},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>small_cards_mh_2s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1613,819},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>small_cards_mh_3s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,498},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>small_cards_mh_4s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1613,746},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>small_cards_mh_5s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1971,440},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>small_cards_mh_6s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1971,367},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>small_cards_mh_7s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1971,294},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>small_cards_mh_8s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1971,221},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>small_cards_mh_9s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1971,148},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>xpphz_card_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1971,75},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>xpphz_cards_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{177,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,246}}</string>
                <key>sourceSize</key>
                <string>{177,246}</string>
            </dict>
            <key>xpphz_small_half_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1971,2},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xpphz_cards.png</string>
            <key>size</key>
            <string>{2029,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b21f6ff2f1a9a109f1a91f2a2bbec92a$</string>
            <key>textureFileName</key>
            <string>xpphz_cards.png</string>
        </dict>
    </dict>
</plist>
