<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qf_bcard_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,782},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,782},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,977},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,782},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,977},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,782},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,587},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,587},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,587},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,587},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,977},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,782},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,587},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,392},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,392},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,392},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,392},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,392},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,977},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,782},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,587},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,392},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,197},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,197},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,197},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,197},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,197},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,197},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,977},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,782},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,587},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,392},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,197},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,977},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,782},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,587},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,392},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,197},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,2},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,2},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,977},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,587},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>qf_bcard_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qf_cards.png</string>
            <key>size</key>
            <string>{1280,1280}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c28a9245e43d641b59f2070cbbaac1a$</string>
            <key>textureFileName</key>
            <string>qf_cards.png</string>
        </dict>
    </dict>
</plist>
